//公共变量引用
@import "../variables/emr-variables";
.bodyHidden{
    height: 100%;
    overflow: hidden;
}
@media screen and (max-width:1540px){
    .alEmr-logo{
        background: url("/static/images/common/logo.png") no-repeat center 50%;
        width: 37px;
        height: 37px;
    }
    .alEmr-mainIndex{
        padding-left: 270px;
    }
}
.alEmr-mainInner{
    background: #ffffff;
    padding-bottom: 0;
}
.alEmr-indexInner{
    width: 1000px;
    margin-top: 0;
    margin-bottom: 0;
    min-height: 0;
}
//左边的Tab切换
.detslideCon{
    width: 270px;
    height: 100%;
    background: #F2F2F2;
    position: fixed;
    top: 71px;
    .detSliItem{
        width: 226px;
        height: 70px;
        font-size: 20px;
        color: #333333;
        line-height: 70px;
        text-align: left;
        cursor: pointer;
        padding-left: 44px;
        &.active{
            color: #2888FF;
            background: #ffffff;
            border-left: 4px solid #2888FF;
        }
    }
}
//右边内容区域
.caseDetailCon{
    padding-top: 130px;
    .detInfo{
        overflow: hidden;
        .detItem{
            margin-bottom: 22px;
            position: relative;
            .detDesc{
                display: inline-block;
                width: 815px;
                margin-left: 168px;
                &>p{
                    display: inline-block;
                    line-height: 26px;
                    vertical-align: top;
                    @include fontSize();
                    margin-bottom: 16px;
                    width: 810px;
                    .detTag{
                        width: auto;
                        color: #000;
                        margin-right: 20px;
                    }
                }
                .detSurgeryTitle{
                    span:nth-child(1){
                        @include fontSize(18px,#555555);
                        margin-right: 30px;
                    }
                }
                .detImgs{
                    border-bottom: 1px solid #DFDFDF;
                    margin-bottom: 20px;
                }
                .detImgList{
                    font-size: 0;
                    margin-top: 4px;
                    li{
                        display: inline-block;
                        position: relative;
                        margin-right: 21px;
                        vertical-align: top;
                        cursor: pointer;
                        @include fontSize(15px,#ffffff);
                        .detViewImg{
                            display: inline-block;
                            img{
                                width: 160px;
                                height: 160px;
                            }
                        }
                        &:nth-child(4){
                            margin-right: 0;
                            width: 160px;
                            height: 160px;
                            background: #E9F3FF;
                            border-radius: 4px;
                            i{
                                display: inline-block;
                                width: 9px;
                                height: 9px;
                                background: url("/static/images/common/icon/moreRight.png") no-repeat center 50%;
                            }
                            .detImgMore{
                                width: 160px;
                                height: 160px;
                                text-align: center;
                                position: absolute;
                                right: 0;
                                bottom: 0;
                                cursor: pointer;
                                background: rgba(0,0,0,0.7);
                                border-radius: 4px;
                                line-height: 160px;
                                span{
                                    color: #ffffff;
                                    display: inline-block;
                                }
                            }
                        }
                        .detViewVideo{
                            .detVideoBtn{
                                display: inline-block;
                                width: 50px;
                                height: 50px;
                                position: absolute;
                                margin-left: -25px;
                                margin-top: -25px;
                                top: 50%;
                                left: 50%;
                                img{
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                    }
                }
                .detRemarks{
                    font-size: 14px;
                    color: #777777;
                    line-height: 14px;
                    margin: 15px 0 20px;
                }
                .LastPoint{
                    display: none;
                }
                &:last-child{
                    .LastPoint{
                        font-size: 0;
                        display: inline-block;
                        position: absolute;
                        bottom: 0;
                        left: -8px;
                        width: 20px;
                        height: 30px;
                        background: #ffffff;
                        span{
                            width: 12px;
                            height: 12px;
                            display: inline-block;
                            background: #2888FF;
                            border-radius: 50%;
                        }
                    }
                }

            }
            .detTitle{
                display: inline-block;
                line-height: 26px;
                margin-right: 40px;
                width: 128px;
                text-align: right;
                vertical-align: top;
                @include fontSize(18px,#555555);
                position: absolute;
            }
            .detSurRight{
                display: inline-block;
                width: 703px;
                vertical-align: top;
                position: relative;
                border-left: 3px solid #2888FF;
                padding-left: 55px;
                @include fontSize(18px);
                margin-bottom: 16px;
                div>p{
                    display: inline-block;
                    margin: 0 40px 20px 0;
                    &.detSurRTil{
                        color: #555555;
                        width: 100px;
                    }
                }
                .detSurNum{
                    width: 48px;
                    height: 48px;
                    border-radius: 48px;
                    @include fontSize(22px,#ffffff);
                    text-align: center;
                    position: absolute;
                    top: -12px;
                    left: -27px;
                    background: #ffffff;
                    line-height: 48px;
                    span{
                        width: 36px;
                        height: 36px;
                        line-height: 36px;
                        display: inline-block;
                        background: #2888FF;
                        border-radius: 36px;
                    }
                }

            }
        }
    }
    //基本信息
    .detBasInfo{
        margin-bottom: 36px;
        .detMust{
            display: inline-block;
            .detDesc{
                display: inline-block;
                width: auto;
                p{
                    width: auto;
                }
            }
        }
        //针对基本信息和其他信息进行用'——'区分
        .detItem:last-child{
             article{
                 border-bottom: 1px solid #DFDFDF;
                 p{
                     margin-bottom: 36px;
                 }
             }

         }
    }
}
.detRecord{
    position: absolute;
    top: 134px;
    right: 68px;
    font-size: 0;
    div{
        @include fontSize(18px,#2888FF);
        display: inline-block;
        margin-left: 56px;
        cursor: pointer;
    }
}
//添加病历详情按钮
.addCaseDetail{
    width: 600px;
    height: 64px;
    border: 1px solid #2888FF;
    border-radius: 4px;
    font-size: 20px;color: #2888FF;
    text-align: center;
    line-height: 64px;
    margin: 0 auto;
    cursor: pointer;
    i{
        display: inline-block;
        width: 20px;
        height: 20px;
        background: url("/static/images/common/icon/addCaseDetail.png") no-repeat center 50%;
        margin-top: 10px;
        transform: translate(0,2px);
    }
}
//补充病历按钮
.supCase{
    text-align: center;
    margin: 0 auto;
    margin-top: 300px;
    .supCaseTitle{
        @include fontSize(20px,#555555);
        line-height: 26px;
        margin-bottom: 30px;
    }
    .supCaseBtn{
        width: 200px;
        height: 64px;
        background: #2888FF;
        box-shadow: 0 2px 10px 0 rgba(67,130,241,0.16);
        border-radius: 4px;
        font-size: 20px;
        color: #FFFFFF;
        line-height: 64px;
        text-align: center;
        margin: 0 auto;
        cursor: pointer;
    }
}
//报道记录
.reportLogNone{
    background: rgba(#304364,0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 auto;
    z-index: 2;
    .reportLogCont{
        width: 800px;
        height: 600px;
        background: #FFFFFF;
        border-radius: 8px;
        margin: 0 auto;
        margin-top: 212px;
        overflow: hidden;
        .reportLogTop{
            background: #F2F2F2;
            border-radius: 8px 8px 0 0;
            width: 770px;
            height: 80px;
            font-size: 24px;
            color: #666666;
            line-height: 80px;
            float: left;
            padding-left: 30px;
            i{
                width: 24px;
                height: 24px;
                display: inline-block;
                background: url("/static/images/common/icon/closeBtnGreey.png") no-repeat center 50%;
                float: right;
                margin: 28px 34px 0 0;
                cursor: pointer;
            }
        }
        .noneReportImg{
            text-align: center;
            margin: 239px 0 30px 0;
        }
        .noneReportTxt{
            text-align: center;
            line-height: 20px;
            font-size: 20px;
            color: #333333;
        }
    }
}
.reportLog{
    background: rgba(#304364,0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 auto;
    z-index: 2;
    .reportLogCont{
        width: 800px;
        //height: 750px;
        background: #FFFFFF;
        border-radius: 8px;
        margin: 0 auto;
        //margin-top: 212px;
        overflow: auto;
        //overflow-x: hidden;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        .reportLogTop{
            background: #F2F2F2;
            border-radius: 8px 8px 0 0;
            width: 770px;
            height: 80px;
            font-size: 24px;
            color: #666666;
            line-height: 80px;
            padding-left: 30px;
            i{
                width: 24px;
                height: 24px;
                display: inline-block;
                background: url("/static/images/common/icon/closeBtnGreey.png") no-repeat center 50%;
                float: right;
                margin: 28px 34px 0 0;
                cursor: pointer;
            }
        }
        .reportLogBot{
            height: 750px;
            overflow-y: auto;
        }
    }
}
.repItemTitle{
    background: rgba(#F2F2F2,0.5);
    width: 100%;
    height: 50px;
    span{
        margin-left: 30px;
        font-size: 18px;
        color: #555555;
        line-height: 50px;
    }
}
.repItemDesc{
    padding: 36px 0 36px 28px;
    .repItem{
        font-size: 0;
        width: 100%;
        line-height: 27px;
        margin-bottom: 20px;
        vertical-align: top;
        .repImteLeft{
            font-size: 18px;
            width: 95px;
            display: inline-block;
            color: #555555;
            text-align: right;
            margin-right: 40px;
        }
        .repImteRight{
            font-size: 18px;
            display: inline-block;
            color: #000000;
            width: 600px;
            vertical-align: top;
            &.noneTxt{
                color: #aaaaaa;
            }
        }
        &:last-child{
            margin-bottom: 0;
        }
    }
}
//.reportImgItemCont{
    .repItemImgDesc{
        padding: 36px 30px 36px 49px;
        .ImgItemTitle{
            font-size: 18px;
            color: #000000;
            line-height: 18px;
            margin-bottom: 30px;
        }
        .ImgItemDesc{
            .ImgItemData{
                font-size: 18px;
                color: #555555;
                line-height: 18px;
                margin-bottom: 19px;
            }
            .imgItemList{
                margin-bottom: 38px;
                img{
                    margin-right: 14px;
                }
                .imgItemListDesc{
                    display: inline-block;
                    cursor: pointer;
                    p{
                        margin-bottom: 14px;
                        font-size: 18px;
                        color: #000000;
                        line-height: 18px;
                        span{
                            font-size: 14px;
                            color: #999999;
                            line-height: 14px;
                            margin-right: 40px;
                        }
                        &:nth-child(2){
                            margin-bottom: 0;
                        }
                    }
                }
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        .ImgItems{
            font-size: 0;
            li{
                display: inline-block;
                margin-right: 20px;
                margin-bottom: 20px;
                width: 160px;
                height: 160px;
                img{
                    width: 160px;
                    height: 160px;
                    cursor: pointer;
                    display: inline-block;
                }
                &:nth-child(4n){
                    margin-right: 0;
                }
                &:nth-child(12){
                    position: relative;
                    .repImgMore{
                        color: #FFFFFF;
                        font-size: 16px;
                        width: 160px;
                        height: 160px;
                        text-align: center;
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        cursor: pointer;
                        background: rgba(0,0,0,0.7);
                        border-radius: 4px;
                        line-height: 160px;
                        span{
                            color: #ffffff;
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
//}
//问诊记录
.inqLeftNav{
    width: 116px;
    height: 100%;
    background: #F2F2F2;
    font-size: 15px;
    color: #333333;
    line-height: 15px;
    display: inline-block;
    vertical-align: top;
    position: fixed;
    overflow: auto;
    li{
        height: 64px;
        text-align: center;
        line-height: 64px;
        cursor: pointer;
        &.active{
            color: #2888FF;
            background: #FFFFFF;
            border-left: 4px solid #2888FF;
        }
    }
}
.inqContent{
    //width: ;
    margin-left: 120px;
    overflow: hidden;
    display: inline-block;
    width: 660px;
    .inqLogItemCont{
        width: 679px;
        //display: inline-block;
        .repItem .repImteRight{
            width: 479px;
        }
        .repItemTitle{
            margin-left: 10px;
            width: 670px;
        }
    }
    .inqImgItemCont{
        width: 679px;
        display: inline-block;
        overflow-x: hidden;
    }
    .ImgItems li{
        &:nth-child(4n){
            margin-right: 20px;
        }
        &:nth-child(3n){
            margin-right: 0;
        }
        &:nth-child(9){
            position: relative;
            .repImgMore{
                color: #FFFFFF;
                font-size: 16px;
                width: 160px;
                height: 160px;
                text-align: center;
                position: absolute;
                right: 0;
                bottom: 0;
                cursor: pointer;
                background: rgba(0,0,0,0.7);
                border-radius: 4px;
                line-height: 160px;
                span{
                    color: #ffffff;
                    display: inline-block;
                }
            }
        }
    }
}
.crumbs{
    span{
        font-size: 18px;
        color: #000000;
        font-weight: 600;
        padding-right: 20px;
    }
    .detailTxt{
        font-size: 16px;
        font-weight: 100;
        padding-right: 30px;
        color: #555555;
    }
}

