@charset "UTF-8";
//公共方法模块调用
@import "../modules/common-modules";
//公共变量引用
@import "../variables/emr-variables";


html,body{
    height: 100%;

}
.alEmr-mainInner{
    height: 100%;
    background: white;
    overflow: auto;
    &.mainHide{
        overflow: hidden;
    }
    &.alEmr-mainCase{
        .alEmr-mainIndex{
            padding-top: 0;
            padding-left: 0;
        }
        .alEmr-innerLeft{
            width: 270px;
        }
        .alEmr-innerRight{
            margin-left:400px;
        }
    }
}
//主容器
.alEmr-mainIndex{
    //height: 100%;
    padding-top: 81px;
    @include clearfix();
    .alEmr-innerLeft,.alEmr-innerRight{
        float: left;
    }
}
//左侧容器
.alEmr-innerLeft{
    width: 130px;
    background: #F2F2F2;
    height: 100%;
    position: fixed;
    z-index: 2;
    ul{
        height: 100%;
        li{
            font-size: 20px;
            color: #222222;
            line-height: 70px;
            text-align: center;
            &.active{
                color: #2888FF;
                background: #fff;
            }
        }
    }
}
//右侧模板
.alEmr-innerRight{
    width: 1010px;
    //padding-left: 60px;
    height: 100%;
    margin: 41px 0 0 130px;
    //padding-bottom: 125px;
    padding:0 0  140px 60px;
    //overflow: auto;
    .alEmr-moudel {
        h4{
            font-size: 18px;
            color: #666666;
            font-weight: normal;
            padding: 0 0 12px 0;
            margin-bottom: 40px;
            border-bottom: 1px solid #EEEEEE;
        }
        .modelItem,.modelItemNew{
            width: 210px;
            height: 110px;
            text-align: center;
            line-height: 110px;
            display: inline-block;
            border-radius: 8px;
            margin: 0 40px 40px 0;
            font-size: 20px;
            cursor: pointer;
            &.active{
                background: url("/static/images/pages/templateLib/selectActive.png") 100% 100% no-repeat;
            }
        }
    }
    //全部模板
    .allMajor{
        .modelItem{
            //background: #3FAEEE;
            background: url("/static/images/pages/templateLib/allMajor.png") 100% 100% no-repeat;
            color: #FFFFFF;
        }
    }
    //    创伤 定制
    .orderMajor{
        .modelItem{
            //background: #E9F3FF;
            //border: 1px solid #277DFF;
            color: #4A90E2;
            background: url("/static/images/pages/templateLib/orderMajor.png") 100% 100% no-repeat;
        }
        .modelItemNew{
            background: url("/static/images/pages/templateLib/orderMajorNew.png") 100% 100% no-repeat;
        }
    }
    //    关节
    .jointMajor{
        .modelItem{
            //background: #E2F6F2;
            //border: 1px solid #7AC6B5;
            color: #55A18D;
            background: url("/static/images/pages/templateLib/jointMajor.png") 100% 100% no-repeat;
        }
        .modelItemNew{
            background: url("/static/images/pages/templateLib/jointMajorNew.png") 100% 100% no-repeat;
        }
    }
    //    脊柱
    .spineMajor{
        .modelItem{
            //background: #FFF0F0;
            //border: 1px solid #D57676;
            color: #C97474;
            background: url("/static/images/pages/templateLib/spineMajor.png") 100% 100% no-repeat ;
        }
        .modelItemNew{
            background: url("/static/images/pages/templateLib/spineMajorNew.png") 100% 100% no-repeat;
        }
    }
     //    创伤
    //.vulnusMajor{
    //    .modelItem{
    //        background: #E9F3FF;
    //        border: 1px solid #277DFF;
    //        color: #4A90E2;
    //    }
    //}
    //更多模板
    .alEmr-innerMore{
        line-height: 28px;
        font-size: 20px;
        color: #909090;
        margin:118px 0 31px ;
        text-align: center;
    }
    //告诉我们
    .callOur{
        height: 125px;
        line-height: 125px;
        font-size: 20px;
        text-align: right;
        border-top: 1px solid #EEEEEE;
        position: fixed;
        bottom: 0;
        width: 1010px;
        background: #fff;
        margin-bottom: 15px;
        .callText{
            color: #666666;
            cursor: pointer;
        }
        .callContainer{
            position: relative;
            display: inline-block;
            .callLink{
                color: #2888FF;
            }
            .callModule{
                text-align: left;
                //width: 600px;
                //height: 510px;
                background: #FFFFFF;
                position: absolute;
                z-index: 2;
                padding: 40px 50px;
                right: -255px;
                bottom: 110px;
                line-height: 1;
                //box-shadow: 0 2px 10px 0 rgba(3,3,3,0.16);
                box-shadow: 0 0 16px 0 rgba(204,214,231,0.80);
                &:before{
                    content: "";
                    display: inline-block;
                    position: absolute;
                    left: 50%;
                    bottom: -19px;
                    margin-left: -5px;
                    height: 0;
                    width: 0;
                    border: 9px solid transparent;
                    border-top: 9px solid #eceff2;
                }
                &:after{
                    content: "";
                    display: inline-block;
                    position: absolute;
                    left: 50%;
                    margin-left: -5px;
                    bottom: -18px;
                    height: 0;
                    width: 0;
                    border: 9px solid transparent;
                    border-top: 9px solid #fff;
                }
                h4{
                    font-size: 20px;
                    color: #222222;
                    line-height: 20px;
                    font-weight: normal;
                }
                textarea,input{
                    background: rgba(216,216,216,0.10);
                    border: 1px solid #C8C8C8;
                    border-radius: 4px;
                    font-size: 18px;
                    width: 500px;
                    box-sizing: border-box;
                    margin: 30px 0 40px;
                }
                textarea{
                    resize: none;
                    height: 120px;
                    color: #909090;
                    padding: 20px;
                }
                input{
                    height: 64px;
                    padding: 0 20px;
                }
                .btnModule{
                    height: 50px;
                    text-align: right;
                    button{
                        width: 104px;
                        line-height: 50px;
                        text-align: center;
                        font-size: 20px;
                        background: none;
                        outline: none;
                        border: none;
                    }
                    .btnCancel{
                        color: #222222;
                    }
                    .btnSubmit{
                        background: rgba(40,136,255,0.70);
                        box-shadow: 0 2px 10px 0 rgba(67,130,241,0.16);
                        border-radius: 4px;
                        color: #FFFFFF;
                        opacity: 0.7;
                        &.active{
                            opacity: 1;
                        }
                    }
                }
                .closeCall{
                    width: 14px;
                    height: 14px;
                    background: url("/static/images/pages/templateLib/close.png") center center no-repeat;
                    float: right;
                    margin: -20px -25px 0 0;
                }
                //提交成功
                .subSuccess{
                    width: 500px;
                    height: 242px;
                    text-align: center;
                    padding-top: 178px;
                    h2{
                        font-size: 20px;
                        color: #222222;
                        line-height: 20px;
                        font-weight: normal;
                        i{
                            background: url("/static/images/pages/templateLib/btnSuccess.png") 100% 100% no-repeat;
                            width: 26px;
                            height: 26px;
                            display: inline-block;
                            vertical-align: middle;
                            margin-right: 20px;
                            //border-radius: 50%;
                        }
                    }
                    p{
                        font-size: 18px;
                        color: #909090;
                        margin-top: 20px;
                    }

                }
            }

        }
        .baseInfoCotainer{
            @include clearfix();
            padding-top: 30px;
            .baseInfoBack{
                font-size: 20px;
                color: #2888FF;
                border: 1px solid #2888FF;
                border-radius: 4px;
                width: 160px;
                line-height: 64px;
                text-align: center;
                float: left;
            }
            .btnBase{
                display: inline-block;
                float: right;
                line-height: 1;
                font-size: 0;
                opacity: 0.7;
                &.active{
                    opacity: 1;
                }
                button{
                    width: 122px;
                    line-height: 64px;
                    background: rgba(40,136,255,0.70);
                    box-shadow: 0 2px 10px 0 rgba(67,130,241,0.16);
                    border-radius: 4px;
                    font-size: 20px;
                    color: #FFFFFF;
                    text-align: center;
                }
                .BtnUse{
                    margin-left: 30px;
                }
            }
        }
        //新建病例告诉我们
        .caseCallTop{
            position: fixed;
            top: 27px;
            font-size: 16px;
            color: #666666;
            line-height: 16px;
            right: 213px;
            .callContainer{
                .callModule{
                    right: -177px;
                    top: 40px;
                    width: 500px;
                    height: 400px;
                    //.contentCon{
                    //    background: #fff;
                    //}
                    &:before{
                        top: -19px;
                        border-bottom: 9px solid #eceff2;
                        left: 64%;
                    }
                    &:after{
                        top: -18px;
                        border-bottom: 9px solid #fff;
                        left: 64%;
                    }
                }
            }
        }
    }
}

//预览模板
.alEmr-thickness{
    position: fixed;
    z-index: 2;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}
.thickMaster{
    opacity: 0.8;
    background: #304364;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
}
.thickCotainer{
    @include clearfix();
    opacity: 1;
    width: 1200px;
    height: 800px;
    position: absolute;
    background: #fff;
    z-index: 3;
    left: 50%;
    top:50%;
    transform: translateX(-50%) translateY(-50%);
    //margin: 0 auto;
    .thickTitle{
        line-height: 70px;
        border: 1px solid #EEEEEE;
        padding: 0 20px 0 30px;
        @include clearfix();
        .titleName{
            float: left;
            font-size: 20px;
            color: #000000;
        }
        .titleDesc{
            float: right;
            font-size: 16px;
            color: #666666;
            i{
                width: 14px;
                height: 14px;
                display: inline-block;
                background: url("/static/images/pages/templateLib/close.png") center center no-repeat;
                vertical-align: middle;
                margin-left: 40px;
            }
        }
    }
    .thickLeft,.thickRight{
        float: left;
        height: 91%;
        overflow: auto;
    }
    .thickLeft{
        width: 270px;
        background: #F2F2F2;
        //&::-webkit-scrollbar {display:none}
        ul{
            li{
               text-align: center;
                line-height: 68px;
                font-size: 20px;
                color: #222222;
                &.active{
                    color: #2888FF;
                    background: #fff;
                }
            }
        }
    }
    .thickRight{
        width: 929px;
        padding:43px 0 0 160px;
        box-sizing: border-box;
    }
}
.alEmr-mainCase{
    //.thickLeft{
    //    padding-bottom: 78px;
    //}
    //.thickRight{
    //    padding-bottom: 78px;
    //}
    .thickCotainer{
        padding-bottom: 86px;
        box-sizing: border-box;
    }
    .thickFooter{
        position: absolute;
        bottom: 0;
        line-height: 78px;
        background: #fff;
        width: 100%;
        text-align: right;
        border-top: 1px solid #DFDFDF;
        button{
            background: #2888FF;
            box-shadow: 0 2px 10px 0 rgba(67,130,241,0.16);
            border-radius: 4px;
            line-height: 50px;
            width: 104px;
            text-align: center;
            margin-right: 135px;
            font-size: 20px;
            color: #FFFFFF;
        }
    }
}

